<div class="container">

  <div class="wrapper">

    <div id="article">
      <div class="row">
      <div class="col s12 m8">
        {{#each articles}}
          <div class="card #546e7a blue-grey darken-1">
            <div class="card-content white-text" data-id="{{this._id}}">
              <span class="card-title">{{this.title}}</span>
              <hr>
              <p class="summary">{{this.summary}}</p>
            </div>
            <div class="card-action #cfd8dc blue-grey lighten-4">
              <a href="www.espn.com" + "{{this.link}}" target="_blank" style="color: blue">Click here to read more!</a>
            </div>
          </div>
        {{/each}}
      </div>
      </div>
    </div>

    <div id="note"></div>

  </div>

</div>